.seccionPropiedades__tituloPrincipal{
    background-color: var(--colorPrimario);
    font-size: 3rem;
    padding: 3rem;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

@media (min-width: 768px) {
    .seccionPropiedades__tituloPrincipal{
        font-size: 5rem;
    }
}

.seccionPropiedades{
    width: 90%;
    margin: 4rem auto;
}
.seccionPropiedades div{
    padding: 2rem 1rem;
    margin-bottom: 3rem ;
   
}
.seccionPropiedades__titulo{
    color: var(--colorPrimarioII);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 1rem;
    
}
.seccionPropiedades__ubicacion{
    width: 100%;
    padding:  0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.seccionPropiedades__descripcion{
    width: 100%;
    padding:  0 1rem;
    font-size: 1.3rem;
    
}
.seccionPropiedades__contenedor{
    background-color: #ebebeb;
}
.btn-propiedad{
    background-color: var(--colorPrimario);
    border: none;
    display: block;
    width: 90%;
    font-size: 1.2rem;
    margin: 1rem auto;
    text-align: center;
    color: var(--colorPrimarioII);
    font-weight: bold;
}
.btn-propiedad:hover{
    background-color: var(--colorPrimarioII);
    color: var(--colorSecundario);
}


@media (min-width: 768px) {
    .seccionPropiedades{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 920px) {
    .seccionPropiedades{
       
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        place-content: center;
    }

}